.text_raed{
    background: rgb(245,246,247);
background: linear-gradient(0deg, rgba(245,246,247,1) 25%, rgba(0,18,32,1) 60%);
}
.text_raeding{
    background: rgb(0,18,32);
background: linear-gradient(0deg, rgba(0,18,32,1) 45%, rgba(245,246,247,1) 100%);
}